body {
  background: #f5f5f5;
  font-family: sans-serif;
}

article {
  width: 80%;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid #aaa;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
  background: #fff;
}


.container {
  display: flex;
}

.item {
  flex-grow: 1;
  padding: 0.5em;
  box-sizing: border-box;
}

.item img {
  max-width: 100%;
}
